html,
body {
    height: 100%;
}

.table {
    display:table;
    height:100%;
    margin:0;
}

.table .table-cell {
    display:table-cell;
    vertical-align:middle;
}

.caption {
    position:absolute;z-index:1;
    top:0;right:0;bottom:0;left:0;
}

.img-responsive {
    margin:0 auto;
}

.img-load {
    display:block;
    margin:0 auto;
}

.btn-color-portal { opacity:0.9;bordder:0; }
.btn-color-portal:hover { opacity:1; }


.btn-primary {
    opacity:0.9;
    background-color:#2c2c2c !important;
    border-color:rgba(0, 0, 0, 0) !important;
}
.btn-primary:hover {
    opacity:1;
}

.btn {
    border-radius:3px;
}
.btn.active, .btn:active { box-shadow:none; }
.btn-social {
    padding:0 20px;
    line-height:40px;
    color:#fff !important;border:0;
    font-size:15px;
    font-weight:bold;
}
.btn-social:hover { color:#fff; }
.btn-social > i {
    display:inline-block;
    font-size:25px;
    vertical-align:middle;line-height:2px;
    margin-right:10px;
    font-weight:normal;
}

.btn-facebook { background-color:#3c5a99; }
/*.btn-social.btn-facebook > i { background-color:#264ea6; }*/

.btn-twitter { background-color:#3498db; }
/*.btn-social.btn-twitter > i { background-color:#3498db; }*/

.text-primary {
    color:#2c2c2c !important;
}

.bg-primary, .label-primary {
    background-color:#2c2c2c !important;
}

.panel-primary {
    border-color:#2c2c2c !important;
}
.panel-primary > .panel-heading {
    background-color:#2c2c2c !important;
    border-color:#2c2c2c !important;
}

.btn-group {

}
.btn-group .btn {

}
.btn-group .btn.active, .btn-group .btn:active {
    background-color:#2c2c2c;
    border-color:#2c2c2c;
    color:#fff;
}
.btn-group .btn + .btn {

}

/* Tabs */
#content .nav-pills {

}
#content .nav-pills > li {
    margin:0 3px;
}

#content .nav-pills > li a {
    opacity:0.6;
    color:#fff !important;
}
#content .nav-pills > li.active a, #content .nav-pills > li:hover a {
    opacity:1;
}

#content .tab-content {
    padding:25px 0;
}


#mask {
    display:none;
    position:absolute;
    z-index:9999;
    left:0;top:0;right:0;bottom:0;
    background:url('../img/loading.svg') no-repeat center center rgba(10,77,140,0.9);
}

#wrap {
    padding:0;
    height:auto;
}

#wrap .main-header .logo {
    
}

#nav .navbar-nav > .user-menu > .dropdown-menu {
    width:200px;
    border: 1px solid #eee;
}

#nav .navbar-nav > .user-menu > .dropdown-menu li > a {
    padding:10px 8px;
    background:#fff;
    border:0;
    line-height:1.3;
}
#nav .navbar-nav > .user-menu > .dropdown-menu li > a:hover {
    background:#fefefe;
}

#content {
    padding-top:15px;
    padding-bottom:50px;
}

#content #title {
    margin-bottom:30px;
}


#dashboard {
    
}

#dashboard .products-list p {
    margin:0;
}

#dashboard .products-list .product-date {
    font-size:13px;
}



#footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px 0;
}


#content .form-group, #content .file-input {
    position:relative;
    margin-bottom:15px;
}

#content .form-control, #content .bootstrap-tagsinput {
    /*background-color:#e9f2fa;*/
    border-color:#cdd4da;
    border-radius:2px;
    box-shadow:none !important;
}

#content .control-label,
#login .control-label {
    color:#303030;
    font-size:14px;
    font-weight:bold;
    position:relative;
}

#content .control-label[class*="col-"] {

}
#content .control-label[class*="col-"] + [class*="col-"] {

}

form .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    min-width: 300px;
}




/* jquery.selectlistactions.js */
/*#export select {
    height: 200px;
    padding: 0;
}*/

#export .style-select select {
    height: 200px;
    padding: 0;
}

#export .style-select select option {
  padding: 4px 10px 4px 10px;
}

#export .style-select select option:hover {
  background: #EEEEEE;
}

#export .add-btns {
  padding: 0;
}

#export .add-btns input {
  margin-top: 25px;
  width: 100%;
}

#export .selected-left {
  float: left;
  width: 88%;
}

#export .selected-right {
  float: left;
}

#export .selected-right button {
  display: block;
  margin-left: 4px;
  margin-bottom: 2px;
}

@media (max-width: 517px) {
  #export .selected-right button {
    display: inline;
    margin-bottom: 5px;
  }
}

#export .subject-info-box-1,
#export .subject-info-box-2 {
  float: left;
  width: 45%;
}

#export .subject-info-box-1 select,
#export .subject-info-box-2 select {
  height: 200px;
  padding: 0;
}

#export .subject-info-box-1 select option,
#export .subject-info-box-2 select option {
  padding: 4px 10px 4px 10px;
}

#export .subject-info-box-1 select option:hover,
#export .subject-info-box-2 select option:hover {
  background: #EEEEEE;
}

#export .subject-info-arrows {
  float: left;
  width: 10%;
}

#export .subject-info-arrows input {
  width: 70%;
  margin-bottom: 5px;
}

/* PAGE ABOUT */



/* ---- ITEMS : articles, folders & users */
/* ITEMS */
.items.block-grid {
    display: block;
    padding: 0;
    margin: 0 -0.625rem;
}
.items.block-grid:before, .items.block-grid:after {
    content: " ";
    display: table;
}
.items.block-grid:after {
    clear: both;
}

.items.block-grid > li {
    list-style: none;
    width:100%;
    display: block;
    float: left;
    height: auto;
    padding: 0 0.625rem 1.25rem;
}

.items.block-grid > li:nth-of-type(1n+1) {
    clear: both;
}

@media (min-width:620px) {
    .items.block-grid > li:nth-of-type(2n+1) {
        clear: both;
    }
    .items.block-grid > li {
        width: 50%;
    }
    .items.block-grid > li:nth-of-type(1n) {
        clear: none;
    }
}

@media (min-width:768px) and (max-width:899px) {
    .items.block-grid > li  {
        width:100%;
        clear:both;
    }
}

@media (min-width:1200px) {
    .items.block-grid > li:nth-of-type(3n+1) {
        clear: both;
    }
    .items.block-grid > li {
        width: 33.33333%;
    }
    .items.block-grid > li:nth-of-type(1n) {
        clear: none;
    }
}

@media (min-width:1600px) {
    .items.block-grid > li:nth-of-type(4n+1) {
        clear: both;
    }
    .items.block-grid > li {
        width: 25%;
    }
}

#block-search {
    margin-bottom: 20px;
}

#block-search .block-result {
    background-color: #2c2c2c;
    color: #FFF;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#block-search .block-result p {
    margin-top: 10px;
    padding: 0 19px;
    text-align: center;
}

/*.items-search {
    margin-bottom:30px;
}*/
#block-search .items-search.well {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#block-search .items-search.well p {
    margin-top: 8px;
    font-size: 14px;
}

@media (max-width:1250px) {
    #block-search .items-search.well p {
        margin-top: 0;
    }

    #block-search .items-search .pull-right {
        float: none !important;
    }
}

.items.block-grid > li {
    padding-bottom:35px;
}

.items > li p  {
    line-height:1.1;
}

.items .item-create, .items .item {
    position:relative;
    border-radius:6px;
}

.items .item-create {
    position:relative;
    display:block;
    opacity:0.95;
    text-decoration:none;
    background-color:#2c2c2c;
    color:#fff;
    padding-bottom:61%;
}
.items .item-create:hover {
    opacity:1;
}

.items .item-create .caption {

}

.items .item-create img {
    margin-bottom:20px;
}

.items .item-create p {
    margin:0px;
    font-size:25px;
}


.items .item {
    color:#fff;
    text-align:center;
}

.items .item::before,
.items .item .item-scheduled {
    content:" ";
    position:absolute;z-index:3;
    top:10px;right:10px;
    display:inline-block;
    width:16px;height:16px;
    border-radius:50%;
    border:3px solid #fff;
    background-color:#5bc0de;
}
.items .item.item-validated::before {
    background-color:#449d44;
}
.items .item.item-refused::before {
    background-color:#d9534f;
}
.items .item .item-scheduled {
    left:15px;right:auto;
}

.items .item .item-scheduled {
    content:"";
    background:none;
    border:0;
    box-shadow:none;
}

.items .item .item-caption {
    display:none;z-index:2;
    background-color:#2c2c2c;
    background-color:rgba(44,44,44,0.7);
    bottom:50px;
    padding-top:75px;
    border-radius:6px 6px 0 0;
}
.items .item:hover .item-caption {
    display:block;
}

.items .item .item-caption .item-caption-date {
    margin-bottom:25px;
    font-size:14px;
    text-align:center;
    color:#fff;
}

.items .item .item-caption img.item-caption-img-status {
    margin-bottom:15px;
    width:35%;
}

.items .item .item-caption .item-caption-status {
    margin-bottom:25px;
    font-size:25px;
    color:#fff;
}

.items .item .item-caption .item-caption-status .btn {
    padding:8px 14px;
    font-size:16px;
}

.items .item .item-img {
    min-height:232px;
}
.items .item .item-img img {
    /*-webkit-filter: blur(8px);
    filter: blur(8px);*/
    border-radius:6px;
}

.items .item .item-redactor {
    position:absolute;z-index:3;
    top:-20px;left:0;right:0;
    text-align:center;
}

.items .item .item-redactor .hex-img {
    position: relative;
    top: 4px;
}

.items .item .item-redactor img {
    border:4px solid #fff;
}

.items .item .item-infos {
    z-index:1;
    top:auto;bottom:50px;
    padding:8px 5px;
    opacity:0.9;
}
.items .item.article:hover .item-infos {
    display:none;
}

.items .item .item-category, .items .item .item-title {
    padding:0 10px;
}
.items .item .item-category {
    text-transform:uppercase;
    font-size:15px;
    margin:0 0 8px 0;
}

.items .item .item-title {
    margin:0;
    font-size:15px;
}

.items .item .item-footer {
    z-index:1;
    top:auto;bottom:0;
    height:50px;line-height:50px;
    padding:0 10px;
    text-align:left;
    background-color:#111;
    border-top:1px solid #252525;
    font-size: 10px;
}

.items .item .item-footer a {
    display:inline-block;
    color:#fff;
    font-size:25px;
    padding:0 5px;
}
.items .item .item-footer a:not(.pull-right) + a {

}
.items .item .item-footer a:hover {
    background-color:#222;
}

/* ---- MENU ITEMS ----- */
.sortable-items {
    position:relative;
    margin-top:30px;
}

.sortable-items ol { padding:0;margin:0 0 16px 0; }

.sortable-items ol ol {
    margin-left:30px;
}

.sortable-items li {
    position:relative;
    list-style-type:none;
    margin-top:8px;
}

.sortable-items li > div,
.sortable-items .placeholder {
    width: 382px;
}

.sortable-items li > div {
    cursor:move;
    display:inline-block;
    border: 1px solid #dfdfdf;
    position: relative;
    padding: 10px 15px;
    word-wrap: break-word;
}
.sortable-items li > div:hover {
    border-color:#666;
}

.sortable-items li > div > .item-title {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    display: block;
    margin-right: 13em;
    line-height:22px;
}

.sortable-items li > div > .item-btns {
    display:none;
    float:right;
}
.sortable-items li > div:hover > .item-btns {
    display:block;
}

.sortable-items li > div > .item-btns .btn {

}
.sortable-items li > div > .item-btns .btn + .btn { margin-left:5px; }

.sortable-items .placeholder {
    /*border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
    border:0;background:transparent;*/
    border:1px dashed #ddd !important;
    outline:1px dashed #ddd !important;
}

/* FORM */
form .has-info {
    position:relative;
    padding-right:15px;
}

form .has-info .form-info {
    display:inline-block;
    position:absolute;z-index:2;
    top:0;right:15px;
    cursor:pointer;
    width:34px;height:34px;
    text-align:center;line-height:34px;
    color:#fff;
}
form .has-info .form-info:hover {
    background-color:#dfdfdf;
}
form .has-info .form-control {
    padding-right:46px;
}
form .has-info .file-input,
form .has-info .date
{
    margin-right:18px;
}

/* Asterisque champ requis */
form .required > label {
    padding-right:15px;
}

form .required > label:not(.btn):after/*, form .required > div > label:after*/ {
    content: " *"; color: red;
    position:absolute;
    top:0;right:-10px;
    font-size:20px;
}
form.form-horizontal .required > label:not(.btn):after {
    right:0;
}

form .has-error .help-block, .help-block-error {
    font-weight:bold;
    color:red;
}

form textarea {
    width:100%;max-width:100%;
    min-height:100px;
    max-height:500px;
}

form .bootstrap-tagsinput {
    width: 100%;
}

.note-editor .modal .form-group {
    margin-right: 0;
    margin-left: 0;
}

form .bootstrap-tagsinput {
    width: 100%;
}

.note-editor .modal .form-group {
    margin-right: 0;
    margin-left: 0;
}


/* jFiler */
#content .jFiler { /*white-space:nowrap;*/ }
#content .jFiler .jFiler-input {
    float:left;
    display:inline-block;
    vertical-align:top;
    width:152px;
    height:192px;line-height:192px;
    margin-right:20px;
    border:0;border-radius:0 !important;
    font-size:25px;
    box-shadow:none;
}

#content .jFiler .jFiler-input .jFiler-input-button {
    display:block;
    opacity:0.9;
    position:inherit;
    float:none;
    background-image:none !important;
    box-shadow:none;
    border-radius:3px !important;
    border:0 !important;
}
#content .jFiler .jFiler-input .jFiler-input-button:hover {
    opacity:1;
}

#content .jFiler .jFiler-items {
    
}

#content .jFiler .jFiler-items .jFiler-item {
    /*display:inline-block;
    float:none;*/
    cursor: move;
    cursor: -webkit-grabbing;
}

#content .jFiler .jFiler-items .jFiler-item .jFiler-item-container {
    margin:0 20px 20px 0;
    width: 152px;
}

#content .jFiler .jFiler-items .jFiler-item .jFiler-item-container .jFiler-item-thumb {
    max-width:100%;
}

#content .jFiler .jFiler-items .jFiler-item .form-control {
    margin-top:5px;
    font-size: 12px;
    padding: 2px 5px;
    height: 25px;
}

#content .jFiler .jFiler-items .jFiler-item .jFiler-item-container .jFiler-item-assets {
    margin-top:5px;
}
#content .jFiler .jFiler-items .jFiler-item .jFiler-item-container .jFiler-item-assets .jFiler-item-others {
    font-size:11px;
}


.block {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* View */
#article-view img {
    max-width:900px;
}

/* ERROR */
#error {
    background:#2d353c;
    position:relative;
    text-align:center;
    height:100%;
}

#error #error-code {
    background:#d9e0e7;
    color:#2d353c;
    font-size:96px;
    padding-top:10%;
}
#error #error-code h1 {
    margin:0 0 -18px 0;
    font-size:70px;
}
#error #error-code i {
    font-size:100px;
}

#error #error-content {
    padding:25px 0;
    color:#fff;
}


@media (max-width:767px) {
    #error #error-code h1 {
        margin:0 0 -8px 0;
        font-size:40px;
    }
    #error #error-code i {
        font-size:50px;
    }
}
@media (max-width:449px) {
    #error #error-code h1 {
        margin:0 0 -8px 0;
        font-size:32px;
    }
    #error #error-code i {
        font-size:40px;
    }
}


/* Summernote */
.note-editor {
    overflow:visible;
}

.note-editor .note-toolbar.panel-heading {
    /*background-color: #2c2c2c;
    color: #fff;*/
}

.note-editor .note-toolbar .btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
}

#tr1/*, #tr2*/ {
  width: 100%;
  overflow-x: scroll;
  overflow-y:hidden;
}

#tr1 {height: 20px; }

#tr1 .div1 {
  width:100%;
  height: 20px;
}

.grid-view .table {
    border-top-color:#3e4348;
}

.grid-view .table th {
    background-color:#242b30;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    border-color:#3e4348;
    text-align:center;
}

.grid-view .table th a {
    color:#fff;
    text-decoration:underline;
}

.grid-view .table th:last-child {
    min-width: 100px;
}

#quiz-index .grid-view .table th:last-child,
#question-index .grid-view .table th:last-child,
#answer-index .grid-view .table th:last-child {
    min-width: 145px;
}

.newsletter-index .grid-view .table th:last-child {
    min-width: 190px;
}

.grid-view .ui-sortable .ui-sortable-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.article-index .grid-view .table th:last-child {
    min-width: 185px;
}

.pagination > li > a, .pagination > li > span, .pagination > li > a:hover {
    padding:10px 15px;
    background-color:#2e353c;
    color:#fff;
    font-family:"Open sans";
    font-size:11px;
    font-weight:bold;
    border-color:#3c3e40;
}

.pagination > li > a:hover {
    opacity:0.8;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color:#2e353c;
    color:#fff;
    border-color:#3c3e40;
    opacity:0.9;
}

.kv-file-content {
    height:200px;
}

.kv-file-content .file-preview-image {
    max-width:100%;
    max-height:100%;
}


.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view td hr {
    margin:6px 0;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/* BOOTSTRAP */
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 40.0625em) {
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 64.0625em) {
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }