body {
    color:#636F78;
    font-size:16px;line-height:1.2;
    /*font-family:"Open sans", sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight:500;
}

/* San Francisco */
.text-roboto, .text-sanfrancisco {
    font-family: 'Roboto', sans-serif;
}

/* Black-Hand */
.text-courgette, .text-blackhand {
    font-family: 'Courgette', cursive;
}

a, a:hover {
    color:#636F78;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 { margin-top:0;line-height:1.1; }

h1 { 
    font-size:29px;
    margin:0 0 30px 0;
}

h2, h3, h4, h5 {
    color:#636F78;
}
p, ul li { 
    color:#636F78;
    font-size:16px;line-height:1.2;
}

p {
    margin:0;
}
p + p {
    margin-top:10px;
}

hr { border-top-color:#fff; }

ol, ul { margin:0;padding:0; }

ul li {
    list-style-type:none;
}

img {
    margin:0 auto;
}

p > a { font-weight:600; }

.btn {
    border-radius:0;
}
.btn:hover {
    color:#fff;
}

.btn-lg {
    padding:11px 16px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    height: 50px;
}

.btn-primary, .btn-primary:hover {
    background-color:#2D3F50;
    border-color:#2D3F50;
}

.btn-secondary {
    background-color:#2ECC71;
    border-color:#2ECC71;
    color:#fff !important;
}

.btn-default, .btn-default:hover {
    background:#fff;
    color:#333;
}

.dropdown .btn + .dropdown-menu {
    border-radius:3px;
    padding:0;
}
.dropdown .btn + .dropdown-menu li {
    
}
.dropdown .btn + .dropdown-menu li a {
    color:#68737B;
}
.dropdown .btn + .dropdown-menu li.active a {
    background:#2D3F50;
    font-weight:600;
    color:#fff;
}
.dropdown .btn + .dropdown-menu li a:hover {
    background:#eee;
}

.btn-success {
    background-color:#5cb85c;
}

.bg-primary, .label-primary {
    background-color:#2D3F50;
}
.bg-secondary, .label-secondary {
    background-color:#2ECC71;
}
.bg-success {
    background-color:#5cb85c;
}

.text-primary {
    color:#2D3F50 !important;
}
.text-secondary, a.text-secondary:hover {
    color:#2ECC71 !important;
}
.text-success {
    color:#5cb85c;
}
.text-muted { 
    color:#b6b6b6;
    font-weight:500;
}

.alert {
    border:0;
    border-radius:0;
    color:#fff;
}
.alert > a {
    color:#fff;
    text-decoration:underline;
}

.alert-success {
    background-color:#5cb85c;
}
.alert-warning {
    background-color:#2ECC71;
}
.alert-danger {
    background-color:#e74c3c;
}
.alert-info {
    background-color:#3498db;
}

.alert .close {
    color:#fff;
}

.progress {
    box-shadow:none;
    border-radius:0;
    background:#f1f1f1;
}

.progress-bar {
    box-shadow:none;
}
.progress-bar-success {
    background:#5cb85c;
}

.btn.btn-social,
.btn.btn-social:hover {
    color:#fff;
}

.btn-social.btn-facebook { background-color:#3a5795; }

.btn-social.btn-twitter { background-color:#3498db; }

.btn-social.btn-instagram { background-color:#9b59b6; }

.btn-social.btn-google { background-color:#d44132; }

.btn-social.btn-linkedin { background-color:#0077b5; }

.table {
    display:table;
    height:100%;
    margin:0;
}

.table .table-cell {
    display:table-cell;
    vertical-align:middle;
}

.caption {
    position:absolute;
    top:0;right:0;bottom:0;left:0;
}

.img-full {
    width:100%;
}

.load {
    margin:10px 0 !important;
}

.load img {
    width:30px;
    margin-right:10px;
}

.col-centered {
    margin-left:auto;margin-right:auto;
    float:none;
}

.separator {
    position:relative;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;
}
.separator::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px #c3c3c3;
    z-index:1;
}

.separator .separator-text {
    position:relative;z-index:2;
    padding:0 10px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-size: 15px;
    color: #474747;
}

#wrap {
    /*padding-top:65px;*/
    background:#F8FBFF;
}


#categories-mobile:not(.mm-menu) {
    display:none;
}

#header {
    position:relative;
    /*position:fixed;
    top: 0;left:0;right:0;*/
    /*box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);*/
    
}

#header #header #categories-mobile {
    display:none;
    overflow:hidden;
}

#header .categories-mobile-toggle {
    position: absolute;z-index:5;
    top:26px;
    text-align: center;
    font-size:14px;
    line-height: 20px;
    display: block;
    padding:4px 8px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#header #categories-mobile-toggle-close {
    display:none;
}

.mm-wrapper_opened #header #categories-mobile-toggle-close {
    display:inline-block;
}
.mm-wrapper_opened #header #categories-mobile-toggle {
    display:none;
}

#header #categories-mobile-toggle {
    
}

#header #categories-mobile-toggle-close {
    width:34px;height:34px;
    padding:0;
    font-size:18px;
    line-height:32px;
}

/*#categories-mobile:not(.mm-menu_opened) .mm-listitem {
    margin-top:12px;
}*/

#header .navbar-header .navbar-toggle .sr-only {
    display:none !important;
}

#header #nav {
    background:#fff;
    margin:0;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#header #nav .navbar-brand > img {
    height:100%;
}

#header #nav .navbar-right ul li a:hover, 
#header #nav .navbar-right li ul form > button.logout:hover {
    background-color:#f5f5f5;
}

#header #nav li#li-publish a {
    color:#fff;
    padding-top:10px;padding-bottom:10px;
    border:1px solid transparent;
}
#header #nav li#li-publish a:hover,
#header #nav li#li-publish.active a {
    background:#fff;
    color:#2ECC71;
    border-color:#2ECC71;
}

#header #nav .navbar-right li#li-user > a {
    font-weight:600;
}
#header #nav .navbar-right li#li-user > a img {
    width:20px;
    border-radius:50%;
    margin-right:5px;
}

#header ul li#li-lg > a > img {
    width:22px;
}
#header ul li#li-lg > ul li a span {
    font-size:13px;
    margin-left:5px;
}
#header ul li#li-lg > ul li img {
    width:25px;
}

#header #nav .navbar-right li ul form > button.logout {
    width:100%;
    text-align:left;
    text-decoration:none;
}

#header #nav .navbar-right .dropdown-menu > .active > a, 
#header #nav .navbar-right .dropdown-menu > .active > a:hover, 
#header #nav .navbar-right .dropdown-menu > .active > a:focus {
    color:#2D3F50;
    font-weight:600;
    background:#efefef;
}


#header #nav .navbar-right li#li-notifications ul li > a {
    text-align:left;
    font-weight:400;
    font-size:14px;
}
    
#header #nav .navbar-right li#li-notifications ul li > a > small {
    display:block;
    font-weight:400;
}

@media (max-width:767px) {
    #header #nav .navbar-brand {
        position:absolute;
        padding:1px 0;
        left:50%;margin-left:-50px;
        width:120px;
    }
}

@media (max-width:365px) {
    #header #nav .navbar-header {
        
    }
    #header #nav .navbar-brand {
        /*display:none;*/
        width:100px;margin-left:-40px;
    }
    #header #nav .navbar-brand img {
        width:100%;height:auto;
        margin-top:10px;
    }
}

@media (min-width:768px) {
    
    #header .categories-mobile-toggle {
        display:none;
    }
    
    #header #nav {
        border:0;
        /*min-height:100px;*/
    }
    
    #header #nav .navbar-brand {
        padding-top:0;padding-bottom:0;
        margin-top:22px;
        /*height:88px;*/
        width:180px;
    }
    #header #nav .navbar-brand > img {
        display:inline-block;
        margin:0;
        height:auto;
        width:100%;
    }
    
    #header #nav .navbar-nav > li + li {
        margin-left:5px;
    }
    
    #header #nav .navbar-nav > li > a {
        font-size:18px;
    }

    #header #nav .navbar-right > li > a, 
    #header #nav .navbar-right > li > ul form > button.logout {
        padding:3px 12px;
        color:#636F78;
        font-size:14px;
    }
    
    #header #nav .navbar-right > li {
        margin-top:25px;
        margin-bottom:25px;
    }
    #header #nav .navbar-right > li > a {
        padding-top:2px;padding-bottom:2px;
        font-size:16px;
    }
    
    #header #nav .navbar-right > li.active > a, 
    #header #nav .navbar-right > li > a:focus,
    #header #nav .navbar-right > li.open > a {
        background:#f6f6f6;
    }
    
    #header #nav .navbar-right .dropdown-menu {
        min-width:200px;
        padding:0;
        margin-top:2px;
        border-radius:3px;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.06);
    }
    
    #header #nav .navbar-right .dropdown-menu > li + li {
        border-top:1px solid #f5f5f5;
    }

    #header #nav .navbar-right .dropdown-menu > li a,
    #header #nav .navbar-right li ul form > button.logout {
        display:block;
        padding:10px 12px;
        font-size:16px;line-height:19px;
        color:#636F78;
        font-weight:500;
        height:auto;
        white-space:normal;
    }
    
    #header #nav .navbar-right .dropdown-menu > li a .badge {
        vertical-align:text-top;
    }
    
    #header #nav li#li-signup a,
    #header #nav li#li-login a {
        padding-top:6px;
        color:#66757F;
        font-weight:600;
        max-width:160px;
    }
    
    #header #nav li#li-publish {
        margin-top:26px;margin-bottom:26px;
    }
    #header #nav li#li-publish > a {
        padding-top:13px;padding-bottom:13px;
        text-transform:uppercase;
        font-weight:600;
        font-size:16px;
    }
    
    #header #nav .navbar-right li#li-notifications > a {
        padding-top:0;padding-bottom:0;
        line-height:48px;
    }
    #header #nav .navbar-right li#li-notifications > a > i {
        font-size:22px;
    }
    #header #nav .navbar-right li#li-notifications > a > .label {
        vertical-align:top;
        font-size:10px;
        border-radius:50%;
    }
    
    #header #nav .navbar-right li#li-notifications ul {
        max-height:230px;max-width:300px;min-width:280px;
        overflow-x:hidden;
    }
    
    #header #nav .navbar-right li#li-notifications ul li {
        
    }
    
    #header #nav .navbar-right li#li-notifications ul li.unread > a {
        font-weight:700;
    }

    #header #nav .navbar-right li#li-user > a {
        padding-top:4px;padding-bottom:4px;
    }
    #header #nav .navbar-right li#li-user > a img {
        width:40px;
        border-radius:50%;
    }
    
    #header #nav .navbar-right li#li-user ul li a, #header #nav .navbar-right li#li-user ul li button {
        text-align:center;
    }
    
}

@media (min-width:850px) {
    #header #nav .navbar-brand {
        width: inherit;
        height:88px;
        margin-top:6px;
    }
    #header #nav .navbar-brand img {
        display:block;
        height:100%;
        width:auto;
    }
}

@media (min-width:992px) {
    
}

/* Menu categories */
#header #categories {
    text-align:center;
}

#header #categories ul {
    position:relative;
    font-size:0;
    text-align:center;
}

#header #categories .nav > li/*,
#header #categories ul li ul li*/ {
    display:inline-block;
    float:none;
}

#header #categories .nav > li {
    position:static;
}

#header #categories ul li a {
    display:block;
    border-radius:0;
    padding:5px 10px;
    font-size:12px;
    color:#fff;
}

#header #categories ul li ul.submenu li a {
    padding:0;
}

#header #categories .nav > li a {
    background:transparent;
    font-size:15px;
    margin-bottom:10px;
}

#header #categories .nav > li:hover a,
#header #categories .nav > li.active a {
    color:#2ECC71;
}
#header #categories .nav > li:hover > a::before,
#header #categories .nav > li.active > a::before {
    content:"";
    position:absolute;
    bottom:0;left:0;right:0;
    height:4px;background:#2ECC71;
}

#header #categories .nav > li.has-submenu > a {
    padding-right:20px;
}
#header #categories .nav > li.has-submenu > a::after {
    content:' ';
    position:absolute;top:50%;right:3px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;margin-top:-2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid #fff;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
}
#header #categories .nav > li:hover a::after,
#header #categories .nav > li.active a::after {
    border-top-color:#2ECC71;
}

@media (max-width:767px) {
    #header #categories {
        display:none !important;
    }
}

@media (min-width:768px) {
    #header #categories ul {
       
    }

    #header #categories .nav > li > a {
        position:relative;
        margin:0;
        padding:15px 10px;
        font-size:13px;
    }
    
    #header #categories .nav > li:hover > ul {
        display:block;
    }

    #header #categories .nav > li > .submenu {
        display:none;
        position:absolute;z-index:3;
        left:0;right:0;
        padding:0;min-height:360px;
        width:100%;
        background:#F5F5F5;
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.1);
        text-align:left;
        font-family: 'Roboto', sans-serif;
    }

    #header #categories .nav > li > .submenu > li {
        width:280px;
        padding:0 40px;
    }
    #header #categories .nav > li > .submenu > li:first-child {
        padding-top:30px;
    }
    #header #categories .nav > li > .submenu > li:last-child {
        padding-bottom:30px;
    }
    
    #header #categories .nav > li > .submenu > li > a {
        display:block;
        padding:8px 10px;
        font-size:18px;line-height:25px;
        color:#636F78;
    }
    #header #categories .nav > li > .submenu > li ul {
        display:none;
        position:absolute;z-index:1;
        left:280px;top:0;right:0;bottom:0;
        padding:30px 30px;
        background:#fff;
    }
    
    #header #categories .nav > li > .submenu > li:hover > ul {
        display:block;
    }
    #header #categories .nav > li > .submenu > li:hover > a {
        background:rgba(42, 209, 126, 0.11);
        color:#2ECC71;
        border-radius:5px;
    }
    
    #header #categories .nav > li > .submenu > li ul li {
        
    }
    
    #header #categories .nav > li > .submenu > li ul li a {
        text-align:left;
        font-size:16px;line-height:30px;
        color:rgba(19, 36, 49, 0.64);
    }
    
    
}

@media (min-width:992px) {
    
    #header #categories .nav > li > a {
        padding:20px 15px;
        font-size:16px;
        font-weight:600;
        /*text-transform:uppercase;*/
    }
    
    #header #categories .nav > li > ul.submenu {
        
    }
    
    #header #categories .nav > li > ul.submenu li a {
        
    }
    
}

#page-top {
    padding-top:25px;padding-bottom:0;
}

#page-top .breadcrumb {
    margin-bottom:0;
    padding:0;
    background:transparent;
    font-size:0;
}

#page-top .breadcrumb > li {
    font-size:13px;line-height:1.2;
    color:#2D3F50;
    font-weight:500;
}
#page-top .breadcrumb > li.active {
    color:#2ECC71;
}
.breadcrumb > li + li:before {
    content:">";
    padding:0 5px;
    color:#2D3F50;
}

#page-top .breadcrumb > li a {
    color:#2D3F50;
}

#page-top .breadcrumb + .alert {
    margin-top:25px;
}

@media (min-width:768px) {
    #page-top .breadcrumb > li {
        font-size:14px;
    }
    .breadcrumb > li + li:before {
        padding:0 15px;
    }
}


#wrap #title {
    margin:0;
    color:#2D3F50;
    font-size:26px;line-height:1.2;
}
#page-top .alert + #title, 
#page-top .breadcrumb + #title {
    margin-top:25px;
}

#content {
    padding:20px 0;
    min-height:500px;
}

#wrap .container {
    width:auto;
    max-width:1170px;
}

#content.page-content {
    padding:25px 0;
    background:#fff;
}
#page-top + #content.page-content {
    margin-top:25px;
}

#content .well, #content .page-content {
    margin-bottom:20px;
    padding:15px 10px;
    background:#fff;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.06);
    border:0;
    border-radius:0;
}

@media (min-width:768px) {
    #content .well, #content .page-content {
        padding:30px 15px;
    }
    
    #wrap #title {
        font-size:32px;line-height:1.15;
    }
}

@media (min-width:992px) {
    #content .well, #content .page-content {
        padding:40px 20px;
    }
}

#content .well hr, #content .well, #content .page-content hr, #content .tab-content hr {
    border-top-color:#ddd;
}

#content h2 {
    font-size:24px;line-height:29px;
    font-weight:700;
    margin-bottom: 30px;
}
#content div + h2,
#content p + h2 {
    margin-top:30px;
}

#content h3 {
    font-size: 20px;
    margin-top:0;margin-bottom:15px;
}

#content .nav-tabs {
    display:table;width:100%;
    background:#2D3F50;
    border-radius:2px 2px 0 0;
}

#content .nav-tabs li {
    float:none;
    display:table-cell;
    vertical-align:middle;
}

#content .nav-tabs li a {
    margin:0;
    padding:23px 10px;
    text-align:center;
    color:#fff;
    font-size:18px;line-height:21px;
    font-weight:700;
    border:0;
    border-bottom:4px solid transparent;
    background:transparent;
    border-radius:0;
}
#content .nav-tabs li.active a {
    color:#2ECC71;
    border-bottom-color:#2ECC71;
}

#content .nav-tabs + .tab-content {
    background:#fff;
    padding:15px;
    border-radius:0 0 2px 2px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.06);
}

@media (min-width:768px) {
    #content .nav-tabs + .tab-content {
        padding:20px;
    }
}

@media (min-width:992px) {
    #content .nav-tabs + .tab-content {
        padding:30px;
    }
}

#content .map-img {
    position:relative;
}
#content .map-img::after {
    content: '';
    position: absolute;z-index: 1;
    top: 50%;left: 50%;
    width:60%;padding-bottom:60%;
    margin: -30% 0 0 -30%;
    border-radius: 50%;
    background-color: rgba(46, 204, 113, 0.2);
    border:1px solid #2ECC71;
    pointer-events: none;
}
#content .map-img.map-small::after {
    width:40%;padding-bottom:40%;
    margin:-20% 0 0 -20%;
}


#content .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;margin-top:-25px;
    left: 0;
    right: 0;
}

#content .owl-carousel .owl-prev, #content .owl-carousel .owl-next {
    position:absolute;
    top:0;left:0;
    opacity:0.8;
    width:30px;height:50px;
    background:url('../img/carousel-left.png') no-repeat right 2px center rgba(255,255,255,0.3);
}
#content .owl-carousel .owl-next {
    left:auto;right:0;
    background-image:url('../img/carousel-right.png');
    background-position:left 2px center;
    cursor:pointer;
}
#content .owl-carousel .owl-prev:not(.disabled):hover, #content .owl-carousel .owl-next:not(.disabled):hover {
    opacity:1;
    background-color:rgba(255,255,255,0.5);
}
#content .owl-carousel .owl-prev.disabled, #content .owl-carousel .owl-next.disabled {
    cursor:default;
    opacity:0.5 !important;
}

#content .owl-carousel .owl-prev span, #content .owl-carousel .owl-next span {
    display:none;
}

/* HOME */
.site_index #page-top {
    display:none;
}

.site_index #content {
    padding:0;
}

#home .home-section {
    padding:20px 0;
}

#home .home-title {
    position:relative;
    margin-bottom:30px;
    padding:0;padding-left:18px;
    font-size:25px;
    font-weight:600;
}

#home .home-title::before {
    content:"";
    position:absolute;left:0;top:0;
    width:5px;height:100%;
    background:#2AD17E;
}


#home .btn.btn-lg {
    opacity:1;
    font-size:20px;
    padding-left:20px;padding-right:20px;
    font-weight:600;
    transition:opacity 0.1s ease;
}
#home .btn.btn-lg:hover {
    opacity:0.9;
}

@media (min-width:768px) {
    #home .home-section {
        padding:50px 0;
    }
    
    #home .home-title {
        margin-bottom:40px;
        font-size:36px;line-height:42px;
    }
    
    #home .btn.btn-lg  {
        font-size:24px;
        padding-left:35px;padding-right:35px;
    }
}

/* Home top */
#home #home-top {
    padding:0;
    background:#2ECC71;
    /* https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%2883\%2C207\%2C174\%2C1\%29\%200\%25\%2C\%20rgba\%2897\%2C208\%2C182\%2C1\%29\%2050\%25\%2C\%20rgba\%2889\%2C221\%2C197\%2C1\%29\%20100\%25\%29\%3B' */
    background: rgba(83,207,174,1);
    background: -moz-linear-gradient(left, rgba(83,207,174,1) 0%, rgba(97,208,182,1) 50%, rgba(89,221,197,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(83,207,174,1)), color-stop(50%, rgba(97,208,182,1)), color-stop(100%, rgba(89,221,197,1)));
    background: -webkit-linear-gradient(left, rgba(83,207,174,1) 0%, rgba(97,208,182,1) 50%, rgba(89,221,197,1) 100%);
    background: -o-linear-gradient(left, rgba(83,207,174,1) 0%, rgba(97,208,182,1) 50%, rgba(89,221,197,1) 100%);
    background: -ms-linear-gradient(left, rgba(83,207,174,1) 0%, rgba(97,208,182,1) 50%, rgba(89,221,197,1) 100%);
    background: linear-gradient(to right, rgba(83,207,174,1) 0%, rgba(97,208,182,1) 50%, rgba(89,221,197,1) 100%);
    margin-bottom:20px;
}

#home #home-top #home-top-inner {
    padding:35px 0;
}

#home #home-top h2 {
    max-width:890px;
    margin:0 auto;
    margin-bottom:30px;
    color:#fff;
    text-align:center;
    font-size:24px;
    font-weight:600;
    line-height:1.2;
    /*text-shadow: 1px 1px 1px #6f6f6f;*/
}
#home #home-top h2 small {
    display:block;
    margin-top:8px;
    color:#fff;
    font-size:14px;
}

#home #home-top #home-items-search {
    text-align:center;
}

#home #home-top #home-items-search .form-group {
    margin:0;
}
#home #home-top #home-items-search .form-group + .form-group {
    margin-top:15px;
}

#home #home-top #home-items-search .form-group .form-control {
    width:100%;
    font-weight:600;
    font-style:italic;
    border:0;
    border-radius:2px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
}

#home #home-top #home-items-search .form-group .form-control {
    padding-left:38px;
    background:url('../img/search.png') no-repeat left 10px center #fff;
    background-size:auto 20px;
}

#home #home-top #home-items-search .form-group.field-search_city .form-control {
    background-image:url('../img/location.png');
}

#home #home-top #home-items-search .btn {
    height:55px;
    font-size:22px;
    font-weight:600;
    text-transform:uppercase;
}

@media (min-width:600px) {
    #home #home-top h2 {
        font-size:26px;
    }
    #home #home-top h2 small {
        font-size:16px;
    }
}

@media (min-width:768px) {
    #home #home-top {
        margin-bottom:50px;
    }
    
    #home #home-top #home-top-inner {
        padding:70px 0;
    }
    
    #home #home-top h2 {
        font-size:35px;line-height:1;
        margin-bottom:52px;
    }
    
    #home #home-top #home-items-search form {
        display:table;width:100%;
    }
    
    #home #home-top #home-items-search .form-group {
        display:table-cell;
        width:20%;
    }
    #home #home-top #home-items-search .form-group.field-search {
        width:50%;
    }
    #home #home-top #home-items-search .form-group.field-search_city {
        width:30%;
    }
    
    #home #home-top #home-items-search .form-group + .form-group {
        padding-left:10px;
    }
    
    #home #home-top #home-items-search .form-group .form-control {
        height:64px;
        font-weight:600;
        font-size:18px;
        padding-left:48px;
        background-position-x:13px;
        background-size:auto 23px;
    }
    #home #home-top #home-items-search .btn {
        height:64px;
        font-size:22px;
        font-weight:700;
    }
}

@media (min-width:992px) {
    
    #home #home-top #home-top-inner {
        padding:120px 0;
        background:url('../img/home/Chico-herramientas.png') no-repeat left bottom,
            url('../img/home/chica-herramientas.png') no-repeat right bottom;
        background-size:auto 435px, auto 435px;
    
    }
    
    #home #home-top h2 {
        font-size:38px;
        text-shadow: 1px 1px 1px #6f6f6f;
    }
    
    #home #home-top #home-items-search .form-group .form-control {
        padding-left:70px;
        background-position-x:20px;
        background-size:auto;
    }
    
    #home #home-top #home-items-search .form-group .form-control {
        font-size:20px;
    }
    #home #home-top #home-items-search .btn {
        font-size:24px;
        font-weight:700;
    }
    
}

@media (min-width:1060px) {
    #home #home-top #home-top-inner {
        padding:150px 0;
        background-size:auto, auto;
    
    }
}

@media (min-width:1250px) {
    #home #home-top h2 {
        font-size:44px;
    }
}

@media (min-width:1400px) {
    #home #home-top h2 {
        text-shadow:none;
    }
}

/*Home 3 blocs */
#home #home-blocs .home-bloc {
    vertical-align:top;
}
#home #home-blocs .home-bloc + .home-bloc {
    margin-top:12px;
}

#home #home-blocs .home-bloc .media-left .media-object {
    width:55px;
}

#home #home-blocs .home-bloc h3 {
    margin-bottom:5px;
    font-size:18px;line-height:1.2;
    font-weight:700;
}

#home #home-blocs .home-bloc p {
    font-size:15px;line-height:19px;
    font-weight:500;
    color:#66757F;
}

@media (max-width:767px) {
    #home #home-blocs .home-bloc {
        display:block;
        margin:0;
    }
}

@media (min-width:768px) {
    
    #home #home-blocs .home-bloc {
        width:33%;
    }
    #home #home-blocs .home-bloc + .home-bloc {
        padding-left:10px;
    }
    
    #home #home-blocs .home-bloc .media-left .media-object {
        width:55px;
    }
    
    #home #home-blocs .home-bloc p i {
        /*font-size:45px;*/
    }
    #home #home-blocs .home-bloc h3 {
        margin-bottom:8px;
        font-size:20px;
    }
    #home #home-blocs .home-bloc p {
        font-size:16px;
    }
}

@media (min-width:992px) {
    #home #home-blocs .home-bloc h3 {
        font-size:22px;
    }
    #home #home-blocs .home-bloc .media-left .media-object {
        width:auto;
    }
}

/* Home btn rent */
#home #home-rent {
    
}


#home #home-rent .btn {
    display:block;
    font-size:20px;
    white-space:normal;
    height:auto;
}

@media (min-width:550px) {
    #home #home-rent .btn {
        display:inline-block;
        font-size:22px;
    }
}

@media (min-width:768px) {
    #home #home-rent .btn {
        font-size:24px;
        line-height:55px;
        height:auto;
    }
}

@media (min-width:992px) {
    #home #home-rent .btn {
        font-size:28px;
        line-height:60px;
    }
}

@media (min-width:1200px) {
    #home #home-rent .btn {
        font-size:32px;
        line-height:65px;
    }
}

/* Home how does it work */
#home #home-steps {
    background-color:#2D3F50;
}

#home #home-steps h2 {
    text-align:center;
    color:#fff;
    font-size:28px;
    margin-bottom:20px;
}

#home #home-steps .home-step {
    text-align:center;
    color:#fff;
}

#home #home-steps .home-step p i {
    font-size:30px;
}

#home #home-steps .home-step h3 {
    margin:12px 0;
    color:#fff;
    font-weight:600;
    font-size:22px;
}

#home #home-steps .home-step p {
    font-size:18px;;line-height:1.5;
    color:#fff;
}

@media (min-width:768px) {
    
    #home #home-steps h2 {
        font-size:36px;
    }
    
    #home #home-steps .home-step p i {
        font-size:45px;
    }
    #home #home-steps .home-step h3 {
        margin:20px;
        font-size:28px;
        font-weight:700;
    }
    #home #home-steps .home-step p {
        font-size:22px;
    }
}

/* Home categories */
#home #home-categories {
    
}

#home #home-categories .home-category {
    text-align:center;
}

#home #home-categories .home-category a {
    display:block;
    padding-bottom:10px;
    opacity:1;
    transition:opacity 0.1s ease;
    color:#fff;
    font-size:32px;
    font-weight:600;
}
#home #home-categories .home-category a:hover {
    opacity:0.9;
}

#home #home-categories .home-category a .home-category-img {
    display:block;
    padding-bottom:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:auto;
    transition:all 0.3s ease;
}

#home #home-categories .home-category a img {
    display:block;
    margin:0 auto;
    margin-bottom:18px;
    max-height:185px;
}

#home #home-categories .home-category a .home-category-title {
    padding:0 10px;
}

@media (min-width:992px) {
    #home #home-categories .home-category a .home-category-title {
        padding:0 5px;
    }
}

/* Home items */
#home #home-items {
    
}

#home .home-items {
    position:relative;
}
#home .home-items + .home-items {
    margin-top:30px;
}

#home .home-items .item {
    
}
#home .home-items .owl-dots {
    display:none;
}

#home .home-items + p {
    margin-top:35px;
}
/*#home .home-items + p a {
    text-decoration:underline;
    font-size:14px;
}*/


@media (min-width:768px) {
    #home .home-items + .home-items {
        margin-top:50px;
    }
}

/* LOGIN & SIGNUP */
#content #login_signup {
    max-width:690px;
    margin:0 auto;
}

#content #login_signup .nav-tabs + .tab-content {
    padding:25px 35px;
}

@media (min-width:768px) {
    #content #login_signup .nav-tabs + .tab-content {
        padding:30px 50px;
    }
}

@media (min-width:992px) {
    #content #login_signup .nav-tabs + .tab-content {
        padding:65px 100px;
    }
}

/* LOGIN */
#content #login-socials {
    max-width:400px;
    margin:0 auto 60px auto;
}

#content #login-socials a {
    display:inline-block;
    width:40px;height:40px;line-height:40px;
    padding:0;
    font-size:24px;
    border-radius:5px;
}
#content #login-socials a + a {
    margin-left:15px;
}

/* SIGNUP */
#content #signup h2 {
    border-bottom: 1px dashed #d6d6d6;
}

#signup .btn-social {
    padding:12px 12px;
}


/* ITEMS SEARCH */
#content #items-search {
    margin-bottom:25px;
    font-size:0;
}

#content #items-search .form-group #search,
#content #items-search .form-group #search_city {
    padding-left:41px;
    background: url("../img/search.png") no-repeat left 13px center #fff;
    background-size:15px;
}

#content #items-search .form-group #search_city {
    background-image:url("../img/location.png");
}

@media (min-width:768px) {
    #content #items-search #search-price .row > div[class^="col-"]:first-child {
        padding-right:4px;
    }
    #content #items-search #search-price .row > div[class^="col-"] + div[class^="col-"] {
        padding-left:4px;
    }
    #content #items-search #user_type {
        padding-top:20px;
    }
}

/* ITEMS SORT */
#content #items-nb-results {
    margin-bottom:25px;
}

#content #items-nb-results > p {
    margin-top:7px;
    font-size:16px;
}

#content #items-nb-results .pull-right {
    font-size:14px;
}

#content #items-nb-results .pull-right .dropdown-menu {
    right:0;left:auto;
}


@media (min-width:640px) {
    #content #items-nb-results > p {
        margin:0;
        font-size:21px;
    }
    #content #items-nb-results .pull-right {
        font-size:16px;
    }
}

/* ITEMS FILTER */
#content #items-filter-categories a.text-secondary {
    font-weight:600;
}
#content #items-filter-categories a.text-secondary:hover {
    text-decoration:underline;
}

#content #items-filter-categories h2 {
    margin-bottom:10px;
}

/* ITEMS SUBCATEGORIES */
#items-subcategories {
    
}

#items-subcategories li {
    
}

#items-subcategories li a {
    display:block;
    font-size:14px;line-height:30px;
    color:#636F78;
    font-weight:400;
}
#items-subcategories li a:hover,
#items-subcategories li.active a {
    font-weight:500;
}

#items-subcategories li.active a {
    color:#2AD17E;
}

@media (min-width:992px) {
    #items-subcategories li a {
        
    }
}

#content #items-filter-categories  + .alquiya-ad {
    margin-top:30px;
}

/* ITEMS LIST */

#content .items #items-list > [class*="block-grid-"] {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

#content .items #items-list > [class*="block-grid-"] > li {
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-bottom:15px;
}

#content .items .item {
    background:#fff;
    box-shadow: 0px 1px 4px 0px rgba(21,82,119,0.06);
    /*border:2px solid transparent;*/
}
#content .items .item, #content .items .alquiya-ad {
    margin-bottom:15px;
}

#content .items .item.featured {
    
}

#content .items .item.highlighted {
    border:2px solid #2ECC71;
}

#content .items .item .item-header {
    position:relative;
    overflow:hidden;
}

#content .items .item-highlighted /*,
#content .items .item .item-header .item-distance*/ {
    position:absolute;z-index:1;
    top:0;right:0;
    border-radius:0;
    padding:5px 10px;
    color:#fff;
    font-size:12px;
} 


/*#content .items .item .item-header .item-distance {
    
}*/

#content .items .item.highlighted .item-highlighted {
    right:auto;left:0;
    padding: 9px 9.5px;
    font-size: 15px;
}

#content .items .item .item-header img {
    width:100%;
    transition: transform 0.3s ease;
}
#content .items .item:hover .item-header img {
    transform: scale(1.2);
}

#content .items .item .item-header img.item-img-300x200 {
    display:block;
}
#content .items .item .item-header img.item-img-300x300 {
    display:none;
}

#content .items .item .item-body {
    position:relative;
    padding:12px 12px 0 12px;
    min-height:60px;
}

#content .items .item .item-body .item-featured {
    position:absolute;
    top:-30px;right:5px;
}
#content .items .item .item-body .item-featured .label {
    display:inline-block;
    text-transform:uppercase;
    padding:3px 10px;
    font-size:15px;line-height:1.3;
    border-radius:0;
}


#content .items .item .item-body .item-category {
    margin:0;margin-bottom:3px;
    text-transform:uppercase;
    font-size:10px;line-height:11px;
    color:#888;
    font-weight:600;
}

#content .items .item .item-body .item-category .item-pro {
    display:inline-block;
    margin-right:2px;
    font-weight:700;
    color:#333;
    font-size:11px;
}

#content .items .item .item-body .item-title {
    margin-top:8px;
    margin-bottom:0;
}
/* @see https://github.com/josephschmitt/Clamp.js */
#content .items .item .item-body .item-title a {
    display:block;
    height:36px;
    font-size:18px;
    font-weight:700;
    color:rgba(19, 36, 49, 0.64);
    /*display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;*/
}
#content .items .item .item-body .item-title a:hover {
    
}

#content .items .item .item-body .item-subtitle {
    margin:0;
    margin-top:5px;
    font-size:13px;
    color:#636F78;
}

#content .items .item .item-price {
    margin-top:16px;
    font-size:18px;line-height:19px;
    color:#C0C5C8;
    font-weight:600;
}

#content .items .item .item-price > .item-price-request, #content .items .item .item-price > .item-price-from {
    text-align:left;
    font-weight:500;
}

#content .items .item .item-price > .value {
    font-weight:700;
    font-size:1.2em;
}

#content .items .item .item-bottom {
    padding:15px 12px 12px 12px;
}

#content .items .item .item-bottom .item-price {
    display:none;
}
#content .items .item .item-body .item-address, #content .items .item .item-body .item-note {
    display:none;
}

#content .items .item .item-price + .item-price {
    margin-top:12px;
}
#content .items .item  .item-price.item-price-total, #content .items .item .item-price.item-price-discount {
    font-size:14px;
}

#content .items .item .item-address,
#content .items .item .item-note {
    display:inline-block;
    font-size:12px;
    color:rgba(104, 115, 123, 0.42);
}

#content .items .item .item-address {
    
}

#content .items .item .item-note {
    margin-left:20px;
}

@media (min-width:640px) {
    
    #content .items .item.is-row {
        display:table;width:100%;
    }
    #content .items .item.is-row , #content .items .alquiya-ad {
        margin-bottom:35px;
    }
    
    #content .items .item.is-row .item-header, #content .items .item.is-row .item-body, #content .items .item.is-row .item-bottom {
        display:table-cell;
        vertical-align:top;
        padding:20px 0;
    }
    #content .items .item.is-row .item-header {
        width:25%;
        padding-top:0;padding-bottom:0;
    }
    #content .items .item.is-row .item-body {
        padding-left:15px;padding-right:15px;
    }
    #content .items .item.is-row .item-bottom {
        width:33%;
        padding-right:20px;
        text-align:right;
    }
    
    #content .items .item.is-row .item-header a {
        display:block;
        overflow:hidden;
    }
    
    #content .items .item.is-row .item-header img.item-img-300x200 {
        display:none;
    }
    #content .items .item.is-row .item-header img.item-img-300x300 {
        display:block;
    }
    
    #content .items .item.is-row .item-body .item-featured {
        position:initial;
        margin-bottom:15px;
    }
    #content .items .item.is-row .item-body .item-featured .label {
        font-size:16px;
    }
    
    #content .items .item.is-row .item-body .item-title {
        margin-top:10px;
    }
    #content .items .item.is-row .item-body .item-title a {
        height:auto;
    }
    
    #content .items .item.is-row .item-price {
        margin:0;
    }
    
    #content .items .item.is-row .item-price + .item-price {
        margin-top:20px;
    }
    
    #content .items .item.is-row .item-price > .item-price-request, #content .items .item.is-row .item-price > .item-price-from {
        display:block;
        margin-bottom:8px;
        text-align:right;
    }
    
    #content .items .item.is-row .item-body .item-price {
        display:none;
    }
    #content .items .item.is-row .item-bottom .item-price {
        display:block;
    }
    
    #content .items .item.is-row .item-bottom .item-address, #content .items .item.is-row .item-bottom .item-note {
        display:none;
    }
    #content .items .item.is-row .item-body .item-address, #content .items .item.is-row .item-body .item-note {
        display:inline-block;
    }
    
}




/* SAVE IN WISHLIST */
#content .btn-wishlist {
    
}

#content .btn-wishlist .txt-saved,
#content .btn-wishlist.saved .txt-save,
#content .btn-wishlist .i-saved,
#content .btn-wishlist.saved .i-save{
    display:none;
}

#content .btn-wishlist .txt-save, 
#content .btn-wishlist.saved .txt-saved,
#content .btn-wishlist .i-save, 
#content .btn-wishlist.saved .i-saved {
    display:inline-block;
}

#content .btn-wishlist .i-saved,
#content .item .btn-wishlist i {
    color:#FF5A5F;
}

#content .item .btn-wishlist {
    position:absolute;z-index:2;
    top:0;right:0;
    background:transparent;
    border:0;
    transition:font-size 0.1s ease;
}
#content .item .btn-wishlist:hover {
    font-size:16px;
}

#content .item .btn-wishlist .txt-save,
#content .item .btn-wishlist .txt-saved {
    display:none;
}

/* ITEM */
#content #item {
    
}

#content #item > .row {
    margin-left:-5px;margin-right:-5px;
}
#content #item > .row > div[class^="col"] {
    padding-left:5px;padding-right:5px;
}

@media (min-width:1200px) {
    #content #item > .row > .left {
        width:62%;
    }
    #content #item > .row > .right {
        width:38%;
    }
}

/* ITEM LEFT */
#content #item .left > .well {
    padding:15px 20px;
}

#content #item #item-id {
    color:#C0C5C8;
}

/* Item Left Images */
#content #item #item-images {
    margin-top:12px;
    margin-bottom:25px;
    border:2px solid #F9FAFA;
}

#content #item #item-images img {
    width:100%;
}

#content #item #item-share .btn.btn-social > span {
    display:none;
}

#content #item #item-share .btn.btn-wishlist {
    
}

#content #item #item-permalink {
    margin-top:10px;
}

#content #item #title {
    margin-top:40px;margin-bottom:30px;
    font-size:24px;line-height:28px;
}

#content #item .left h2 {
    margin-bottom:12px;
    font-size:16px;line-height:19px;
}

#content #item hr {
    max-width:350px;
    margin:40px auto;
}

#content #item #item-description {
    margin-top:30px;
    margin-bottom:30px;
}

#content #item #item-description p {
    font-size:15px;line-height:18px;
    color:#636F78;
}

@media (min-width:500px) {
    #content #item #item-share .btn.btn-social > span {
        display:inline-block;
    }
}

@media (min-width:768px) {
    #content #item .left > .well {
        padding:15px 40px 60px 40px;
    }
    #content #item #title {
        font-size:32px;line-height:37px;
    }
}

/* ITEM RIGHT */
#content #item .right {
    margin-top:50px;
}

#content #item .right .well, #content #item-booking .right .well {
    margin:0;
    padding:15px;
}

#content #item .right .well, #content #item-booking .right .well, #content #item .right .alquiya-ad {
    margin-bottom:15px;
}

#content #item .right h2, #content #item-booking .right .well h2 {
    margin-bottom:22px;
    font-size:24px;line-height:29px;
}

@media (min-width:768px) {
    #content #item .right {
        margin-top:0;
    }
    #content #item .right .well {
        padding:30px;
    }
}

/* Item Right User */
#content #item .right #item-user .media .media-left {
    padding-right:10px;
}
#content #item .right #item-user .media .media-left > a {
    display:block;
    position:relative;
    overflow:hidden;
}
#content #item.pro .right #item-user .media .media-left > a::after {
    content:"PRO";
    position:absolute;
    top:9px;right:-12px;
    display:inline-block;
    padding:1px 15px;
    transform:rotate(45deg);
    background-color:#2ECC71;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    letter-spacing:1px;
    font-weight: 600;
}

#content #item .right #item-user .media .media-object {
    width:85px;
    border:2px solid #2ECC71;
}

#content #item .right #item-user #item-user-title {
    font-size:24px;line-height:29px;
    font-weight:600;
    color:#636F78;
}

#content #item .right #item-user #item-user-location,
#content #item .right #item-user #item-user-link a {
    font-size:14px;line-height:16px;
}

#content #item .right #item-user #item-user-link a {
    text-decoration:underline;
    color:#3398DB;
}

/* Item Right Prices */
#content #item .right #item-prices .item-price {
    font-size:14px;
}

#content #item .right #item-prices .item-price > span {
    font-weight:600;
}

#content #item .right #item-prices #item-price {
    margin-bottom:15px;
    font-size:16px;
}
#content #item .right #item-prices #item-price > span {
    font-weight:700;
    font-size:1.8em;
}

/* PRO */
#content #item #item-price-request, #content #item #item-price-from {
    font-size:18px;
}

#content #item #pro-phone, #content #item #pro-email {
    font-size:18px;
}
#content #item #pro-phone a, #content #item #pro-email a {
    
}


/* Item Right Book */
#content #item .right /*#item-booking-form */#item-deposit {
    margin-top:15px;
    /*margin-bottom:25px;*/
}

#content #item .right #item-booking-form .field-booking-date_range, #content .field-date_range {
    position:relative;
}

#content .field-date_range label {
    padding-right:12px;
}
#content .field-date_range .date-clean {
    position:absolute;
    top:3px;right:5px;
    cursor:pointer;
    font-size:16px;
    width:15px;
    line-height:15px;
    text-align:center;
    font-weight:700;
}

#content #item .right #item-booking-form .field-booking-date_range #booking-date_range, #content #date_range {
    text-align:center;
    background:url('../img/item/arrow.png') no-repeat center center;
}

#content #item .right #item-booking-form #booking-details td, #booking-details td {
    padding:7.5px 5px;
    color:#C0C5C8;
    font-size:18px;line-height:21px;
    font-weight:600;
    font-family: 'Roboto', sans-serif;
    border:0;
}
#content #item .right #item-booking-form #booking-details td.text-right.text-sanfrancisco, #item-booking #booking-details td.text-right.text-sanfrancisco {
    color:#68737B;
    font-weight:600;
}

#content #item .right #item-booking-form #booking-details #booking-total td, #item-booking #booking-details #booking-total td {
    border-top:1px solid #CBCFD1;
}
#content #item .right #item-booking-form #booking-details #booking-total td.text-right, #item-booking #booking-details #booking-total td.text-right {
    color:#2ECC71;
}


#content #item .right #item-booking-form #booking-btn {
    margin-top:40px;
}

#content #item .right .well .btn.btn-lg {
    text-align:center;
    font-size:24px;line-height:29px;
    font-weight:600;
}

/* Item Right Chat */
#content #item .right #item-chat {
    
}

#content #item .right #item-edit {
    
}

#content #item .right #item-edit .btn {
    font-size:16px;
    font-weight:600;
}


/* Item Right Map */


/* Item Right Items */
#content #item .right #item-similiar-items .item {
    border:0;
    padding:5px;
    background:#f7f7f7;
}

#content #item .right #item-similiar-items .item + .item {
    margin-top:15px;
}

#content #item .right #item-similiar-items .item .media-object {
    width:75px;
}

#content #item .right #item-similiar-items .item .item-title {
    
}

#content #item .right #item-similiar-items .item .item-address {
    
}

#content #item .right #item-similiar-items .item .item-price {
    
}

@media (max-width:499px) {
    #content #item .right #item-similiar-items .item .media-left {
        display:none;
    }
}

@media (min-width:768px) {
    #content #item .right #item-similiar-items .item {
        padding:10px;
    }
}

/* ITEM RIGHT REPORT */

#item #item-report {
    padding:15px 0;
}

#item #item-report p {
    font-size:14px;
}
#item #item-report p.text-primary {
    font-weight:700;
}
#item #item-report p + p {
    margin-top:5px;
}

#item #item-report p a {
    text-decoration:underline;
    color: #666;
    font-weight:500;
}

#item-report {
    
}


/* ITEM LEFT REVIEWS */
#content #item #reviews h2 {
    margin-bottom:20px;
}

#content #reviews #reviews-total-note-value {
    margin-bottom:0;
    font-size:50px;line-height:40px;
    font-weight:600;
}

#content #reviews #reviews-total-note {
    margin-bottom:10px;
}

#content #reviews #reviews-total-people {
    font-size:15px;line-height:18px;
}

#content #reviews #reviews-bars {
    
}

#content #reviews #reviews-bars .reviews-bar + .reviews-bar {
    margin-top:10px;
}

#content #reviews #reviews-bars .reviews-bar > span {
    font-size:15px;
    padding-right:8px;
}
#content #reviews #reviews-bars .reviews-bar .progress {
    margin:0;
    background:#fff;
}


#content #reviews-list {
    margin-top:60px;
}

#content #reviews-list .review {
    margin:0;
    padding:0;
}
#content #reviews-list .review + .review {
    margin-top:30px;
}

#content #reviews-list .review .media-left {
    padding-right:7px;
}

#content #reviews-list .review .media-object {
    width:35px;
}

#content #reviews-list .review .review-author {
    font-weight:500;
    font-size:15px;line-height:18px;
}

#content #reviews-list .review .review-date {
    color:#aaa;
    font-size:12px;
}

#content #reviews-list .review .review-note {
    min-width:75px;
    margin:0;
    font-size:0;
}
#content #reviews-list .review .review-note .★ {
    color:#95989C !important;
}

#content #reviews-list .review .review-text {
    margin-top:10px;
    font-size:15px;line-height:18px;
}

#content #reviews-list .review .review-item {
    font-size: 13px;
    margin-top: 15px;
    font-style: italic;
}

#content .stars {
    display:inline-block;
    font-size:0;
}

#content .stars .★ {
    display:inline-block;
    padding:0 1px;
    font-size:13px;
    opacity:0.4;
}

#content .stars .★.active {
    opacity:1;
}

@media (min-width:768px) {
    #content #reviews .review {
        padding:10px;
    }
}

/* ITEM BOOKING */
#item-booking h3 {
    margin-bottom:10px;
    font-size:18px;
    font-weight:700;
}

#item-booking p {
    
}


#booking-status {
    margin-bottom:25px;
}

#booking-status #booking-status-text {
    font-size:20px;
    font-weight:600;
}

/*#item-booking #item-booking-details h2 {
    font-size:20px;
}*/

#item-booking #item-booking-top {
    margin-bottom:25px;
}

#item-booking #item-booking-top .media-object {
    border:1px solid #F1F3F4;
}

#item-booking #item-booking-top h2 {
    margin-bottom:20px;
    font-size:26px;line-height:25px;
}

#item-booking #item-booking-top .table-cell {
    width:49%;
    padding:5px 8px;
    vertical-align:top;
    border:1px solid #C0C5C8;
    border-radius:2px;
}
#item-booking #item-booking-top .table-cell.empty {
    width:2%;
    border:0;
    padding:0;
}

#item-booking #item-booking-top .table-cell h3 {
    margin:0;
    font-size:18px;
    font-weight:600;
}

#item-booking #item-booking-top .table-cell p {
    
}

#item-booking #booking-details {
    max-width:450px;
    margin-left:auto;margin-right:auto;
}

#item-booking form {
    margin-top:50px;
}

#item-booking .checkbox label {
    color:#636F78;
    font-size: 17px;
    font-weight: 600;
}

#item-booking #item-booking-steps h3 {
    margin-bottom:12px;
    font-size:18px;
}
#item-booking #item-booking-steps p + h3 {
    margin-top:20px;
}

#item-booking #item-booking-steps p {
    font-size:13px;line-height:1.3;
}

@media (max-width:991px) {
    #item-booking #item-booking-top .table-cell {
        display:block;
        width:100%;
    }
    #item-booking #item-booking-top .table-cell + .table-cell {
        margin-top:5px;
    }
}

@media (min-width:768px) {

    #item-booking #item-booking-steps h3 {
        margin-bottom:12px;
        font-size:20px;
    }

    #item-booking #item-booking-steps p {
        font-size:14px;
    }
}

/* ITEM PUBLISH */
#content #item-form {
    
}

#content #item-form .price-details {
    display:none;
    font-size:13px;
    color:#636F78;
}
#content #item-form .price-details .currency {
    font-weight:500;
}

#content #item-form .checkbox {
    display:inline-block;
    margin-right:10px;margin-top:0;
}
#content #item-form .checkbox label {
    padding-left:17px;
}
#content #item-form .checkbox label input {
    margin-left:-17px;
}

#content #item-form .map-img::after {
    width:30%;
    padding-bottom:30%;
    margin-top:-15%;
    margin-left:-15%;
}


/* ORDER */
#order-create {
    
}

#order-create #order-item p {
    margin-top:10px;
    font-size:18px;
    font-weight:600;
}
#order-create #order-item p.text-primary {
    font-size:22px;
}

/* PAYMENT */
#payu .well {
    max-width:600px;
    margin:0 auto;
    text-align:center;
}

#payu .well p.text-primary {
    margin-bottom:35px;
    font-weight:600;
}

/* ACCOUNT ITEMS */
.account_item_index #account .nav + .tab-content {
    background:transparent;
    box-shadow:none;
    padding:0;
}

#user-items {
    
}

#user-items #items-nb-results {
    margin-bottom:10px;
}

#user-items #items-actions {
    margin-bottom:10px;
}

#user-items .grid-view .summary {
    display:none;
} 

#user-items .item-active-subscriptions {
    margin-top:5px;
    font-size:14px;
}

#user-items .item-active-subscriptions span {
    display:block;
}

#user-items .items .item.locked {
    background-color:#ffe4e1;
    opacity:0.7;
}

#user-items .items .item.inactive {
    background-color:#fcf8e3;
}

#user-items .items .item .item-actions {
    margin-top:15px;
    padding-top:15px;
    border-top:1px solid #eee;
}

#user-items .items .item .item-actions .btn {
    
}
#user-items .items .item .item-actions .btn + .btn {
    margin-left:3px;
}

@media (min-width:640px) {
    #user-items .items .item.is-row .item-actions {
        margin-top:25px;
        padding-top:25px;
    }
}


/* USER VIEW */
#content #user-view-top .media-left .media-object {
    
}

#content #user-view-top .media-left img + a {
    margin-top:15px;
}

#content #user-view #user-description {
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.3;
}

#content #user-view .tab-content {
    padding:0;
    background:transparent;
    border-radius:0;
    box-shadow:none;
}

#content #user-view .tab-content .tab-pane {
    background: #fff;
    padding: 15px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.06);
}
#content #user-view .tab-content .tab-pane#tab-items {
    background:transparent;
    border-radius:0;
    box-shadow:none;
}

#content #user-view .tab-content .tab-pane #reviews-list {
    margin:0;
}

#content #user-view .tab-content .tab-pane h3 {
    margin-bottom:12px;
    font-size: 18px;
    font-weight: 600;
}
#content #user-view .tab-content .tab-pane #pro .pro-bloc + h3 {
    margin-top:20px;
}

#content #user-view .tab-content .tab-pane #pro .pro-bloc {
    
}
#content #user-view .tab-content .tab-pane #pro .pro-bloc p {
    
}

@media (max-width:767px) {
    #content #user-view-top .media-left {
        display:block;
        margin:0 auto;
    }
    #content #user-view-top .media-body {
        display:block;
        margin-top:30px;
        width:auto;
    }
}

@media (min-width:768px) {
    #content #user-view-top .media-left {
        padding-right:30px;
    }
    #content #user-view-top .media-left .media-object {
        width:250px;
    }
    #content #user-view .tab-content .tab-pane {
        padding:20px;
    }
}

@media (min-width:992px) {
    #content #user-view .tab-content .tab-pane {
        padding:30px;
    }
}


/* USER RENTS */
#content #rents {
    
}

/* USER BOOKINGS */
#content #booking p + p {
    margin-top:20px;
}

/* ACCOUNT */
#content #account > .nav li a {
    padding:10px 5px;
    font-size:12px;
    line-height:1.3;
}

@media (min-width:768px) {
    #content #account > .nav li a {
        padding:15px 8px;
        font-size:15px;
    }
}

@media (min-width:992px) {
    #content #account > .nav li a {
        padding:20px 8px;
        font-size:16px;
    }
}

/* USER DASHBOARD */
#user-dashboard .btn-block {
    margin-bottom:15px;
    padding-top:10px;padding-bottom:10px;
    white-space:normal;
}

#user-dashboard #user-stats {
    
}

#user-dashboard #user-stats .user-stat {
    margin-bottom:30px;
    color:#fff;
    padding:8px;
}

#user-dashboard #user-stats .user-stat .user-stat-icon {
    float:right;
    font-size:22px;
}

#user-dashboard #user-stats .user-stat .user-stat-title {
    font-size:18px;
    color:#fff;
    font-weight:600;
}

#user-dashboard #user-stats .user-stat .user-stat-text {
    margin-top:20px;
    text-align:center;
    color:#fff;
    font-size:18px;line-height:1;
    font-weight:700;
}

#user-dashboard #user-dashboard-security p {
    font-weight:600;
}

@media (max-width:767px) {
    
    #user-dashboard > .row > div[class^="col-"] + div[class^="col"] {
        padding-top:15px;
        border-top:1px solid #eee;
    }
}

@media (min-width:768px) {
    #user-dashboard .left {
        border-right:1px solid #eee;
    }
    
    #user-dashboard .btn-block {
        padding-top:15px;padding-bottom:15px;
        font-size:18px;
    }
}

@media (min-width:992px) {
    #user-dashboard .btn-block {
        font-size:19px;
    }
    
    #user-dashboard #user-stats .user-stat {
        padding:15px;
    }
    #user-dashboard #user-stats .user-stat .user-stat-title {
        font-size:20px;
    }
    #user-dashboard #user-stats .user-stat .user-stat-text {
        margin-top:30px;
        font-size:30px;
    }
}

/* CONVERSATIONS */
#conversations .conversation.new-message .not-read {
    
}

#conversations .conversation.new-message td {
    font-weight:700;
}

#conversations .conversation td {
    vertical-align:middle;
}
#conversations .conversation td a {
    
}
#conversations .conversation td img {
    width:50px;
}

/* CONVERSATION */
#conversation #messages .message {
    position:relative;
}
#conversation #messages .message + .message {
    margin-top:20px; 
}

#conversation #messages .message .media-object {
    width:60px;
}

#conversation #messages .message .media-left.empty, #conversation #messages .message .media-right.empty {
    padding-left:0;
    padding-right:30px;
}

#conversation #messages .message .media-left p, #conversation #messages .message .media-right p {
    margin-top:10px;
    font-size:14px;
}

#conversation #messages .message .media-body .inner {
    background:#eee;
    padding:5px 8px;
}
#conversation #messages .message.is-author .media-body .inner {
    background:#2D3F50;
}
#conversation #messages .message.is-author .media-body .inner p {
    color:#fff;
}

#conversation #messages .message .message-subject {
    font-weight:600;
    font-size:15px;
}
#conversation #messages .message.is-author .message-subject, #conversation #messages .message.is-author .message-text {
    text-align:right;
}

#conversation #messages .message .message-text {
    margin-top:10px;
    font-size:15px;
    line-height:1.2;
    text-align:left;
}

#conversation #messages .message .message-date {
    margin-top:15px;
    font-size:14px;
    text-align:right;
    font-weight:400;
}
#conversation #messages .message.is-author .message-date {
    text-align:left;
}

@media (min-width:768px) {
    #conversation #messages .message .media-left.empty, #conversation #messages .message .media-right.empty {
        padding-right:100px;
    }
}

@media (min-width:992px) {
    #conversation #messages .message .media-left.empty, #conversation #messages .message .media-right.empty {
        padding-right:200px;
    }
}


/* USER CALENDAR */
#calendar .fc-view {
    
}

#calendar .fc-view .fc-event {
    
}

/* ADD A REVIEW */
#review #stars {
    direction: rtl;
    font-size: 0;
}

#review #stars .★ {
    cursor:pointer;
    display:inline-block;
    width: 45px;
    height: 50px;
    color: #2D3F50;
    padding: 5px 3px;
    font-size: 38px;
    opacity:0.4;
}

#review #stars .★:hover,
#review #stars .★.active,
#review #stars .★:hover ~ .★,
#review #stars .★.active ~ .★ { 
    /*color:#2ECC71;*/
    opacity:1;
}

#review #stars .★ i {
    vertical-align:text-top;
}


@media (min-width: 350px) {
    #review #stars .★ {
        width: 55px;
        height: 50px;
        font-size: 38px;
        padding: 5px 7.5px;
    }
}

/* REFUSAL REASON */
#refuse-booking form {
    margin-top:30px;
}


/* PAGES */
#content .page {
    
}

#content .page h2 {
    margin-top:0;
    margin-bottom:20px;
}

#content .page p + h2, #content .page ul + h2 {
    margin-top:40px;
}

#content .page p {
    margin-bottom:15px;line-height:20px;
    text-align:justify;
}

#content .page p a:not(.btn) {
    text-decoration:underline;
    font-weight:500;
}

#content .page ul {
    margin-bottom:15px;
    padding-left:20px;
}

#content .page ul li {
    list-style-type:disc;
    text-align:left;
}
#content .page ul li + li {
    margin-top:5px;
}

#content .page ul li ul {
    margin-top:8px;
    margin-bottom:8px;
}



#content .page#pro .btn-block {
    
}

@media (min-width:768px) {
    #content .page .btn-block {
        font-size:28px;
        height: 75px;
        line-height: 52px;
    }
}

/* PAGE CONTACT */
.page#contact {
    
}

.page#contact form {
    max-width:700px;
    margin:0 auto;
}


.page#about ul li {
    list-style-type:none;
    line-height:22px;
}

.page#help {
    
}

.page#help .panel-group {
    
}

.page#help .panel-group .panel {
    border:0;
    border-radius:0;
}

.page#help .panel-group .panel .panel-heading {
    padding:0;
    background-color:#2D3F50;
    border-radius:0;
}

.page#help .panel-group .panel .panel-heading .panel-title a {
    display:block;
    position:relative;
    padding: 10px 15px;
    color:#fff;
}
.page#help .panel-group .panel .panel-heading .panel-title a:hover {
    color:#fff;
    text-decoration:underline;
}

.page#help .panel-group .panel .panel-heading .panel-title a::after {
    content:"";
    position:absolute;top:13.5px;right:10px;
    width: 0;height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #ffffff transparent;
}
.page#help .panel-group .panel .panel-heading .panel-title a.collapsed::after {
    border-width: 10px 7.5px 0 7.5px;
    border-color: #ffffff transparent transparent transparent;
}

.page#help .panel-group .panel .panel-body {
    margin:0;
    padding:15px 12px;
}
.page#help .panel-group .panel .panel-body p {
    margin:0;
}
.page#help .panel-group .panel .panel-body p + p{
    margin-top:8px;
}

@media (min-width:768px) {
    .page#help .panel-group .panel .panel-body {
        padding:25px 18px;
    }
}


/* CONTRAT DE LOCATION */
#contract {
    max-width:800px;
    margin:0 auto;
}

#contract h2, #contract h3, #contract p, #contract ul li {
    margin:0;
    color:#000;
    font-size:16px;line-height:1.3;
    font-weight:500;
}

#contract p + p {
    margin-top:8px;
}

#contract b {
    font-weight:700;
}

#contract .row {
    margin-left:-5px;margin-right:-5px;
}
#contract .row > div[class^="col-"] {
    padding-left:5px;padding-right:5px;
}

#contract .inner {
    padding:17px 10px;
    border:1px solid #000;
}

#contract .table {
    
}

#contract .table .table-cell {
    vertical-align:top;
}

#contract .table .table-cell {
    width:50%;
}

#contract .table .table-cell h3, #contract .inner h3 {
    margin-bottom:27px;
    text-align:center;
    font-size:23px;
    font-weight:700;
}

#contract .inner ul {
    margin-top:12px;
}

#contract .inner ul li {
    position:relative;
    font-size:15px;;line-height:1.3;
    padding-left:20px;
}
#contract .inner ul li::before {
    content:"☐";
    position:absolute;
    left:0;top:0;
}

#contract .inner ul li + li {
    margin-top:20px;
}

#contract .inner ul li small {
    display:block;
    font-weight:400;
    font-size:12px;
}

/* PAGE RENT CONTRACT */
@media (min-width:992px) {
    #rent-contract p, #rent-contract ul li {
        font-size:18px;
    }
}


/* FOOTER */

#footer {
    padding:60px 0;
    background:#FFFFFF;
    border-top:3px solid #2AD17E;
}

#footer h3 {
    font-size:16px;line-height:1.1;
    font-weight:600;
}

#footer h3 + ul {
    margin:15px 0;
}

#footer ul {
    text-align:left;
    color:#fff;
}

#footer ul li {
    display:block;
}
#footer ul li + li {
    margin-top:3px;
}

#footer ul li a {
    display:block;
    padding:4px 2px;
    font-size:14px;
    color:#707070;
}

#footer #footer-follow {
    
}
#footer #footer-follow a {
    display:inline-block;
    font-size:30px;
    color:#bbb;
}



body .datepicker table tr td {
    border:1px solid #fff !important;
    border-radius:0;
}

body .datepicker table tr td.disabled-date, body .datepicker table tr td.disabled-date:hover {
    /*background:#FFA500;
    color:#fff;*/
    background:#efefef;
}

body .datepicker table tr td.active.active,
body .datepicker table tr td.active.active:hover,
body .datepicker table tr td.active.active:focus {
    background:#2D3F50;
    color:#fff;
}


form .form-group {
    margin-bottom:30px;
}

form label { 
    position:relative;
    color:#636F78;
    font-weight:600; 
    font-size:16px;line-height:19px;
    margin-bottom:10px;
}

form .radio-inline, form .checkbox-inline {
    margin-top:0;
}

form .required label:not(.radio):not(.radio-inline) {
    padding-right:12px;
}
form .required label:not(.radio):not(.radio-inline):after {
    content: "*"; color: red;
    position:absolute;
    top:0;right:0;
    font-size:25px;line-height:1;
}

form.form-horizontal .required label:not(.radio):after {
    right:0;
}

form label a {
    color:#3398DB;
    text-decoration:underline;
}

form textarea { 
    width:100% !important;
    max-height:250px;
    min-height:180px;
}

form .form-control, .form-control, form .select2-selection {
    height:50px;
    border:2px solid #efefef;
    font-size:16px;line-height:19px;
    border-radius:0;
    box-shadow:none;
    color:#636F78;
    font-weight:500;
}

form .form-control-static {
    min-height:50px;
    padding:15px 0;
    font-size:16px;line-height:19px;
    color:#636F78;
    font-weight:500;
}

form .input-group-addon {
    border-radius:0;
}

form .form-control.file-caption + .input-group-btn .btn {
    padding-top:9px;padding-bottom:9px;
}

form .file-drag-handle {
    display:none;
}

/*form .checkbox-inline, form .radio-inline { padding-left:0; }
form .checkbox-inline+.checkbox-inline, form .radio-inline+.radio-inline { margin-left:20px; }*/

form .form-group .help-block-error {
    display:none;
}
form .form-group.has-error .help-block-error {
    display:block;
}

form .has-info {
    margin-top:-4px;
}

form .has-info .form-info {
    opacity: 0.9;
    display: inline-block;vertical-align:super;
    margin-left:6px;
    cursor: pointer;
    border-radius: 50%;
    width:18px;height:18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 12px;
    background:#2ECC71;
    opacity:0.5;
}
form .has-info .form-info:hover {
    opacity:1;
}

form .has-info .tooltip-inner {
    min-width:120px;
}


form .btn[type="submit"] {
    min-width:140px;
    font-weight:600;
    height:50px;
    font-size:18px;
}


form .field-item-price label,
form .field-item-price_weekend label,
form .field-item-price_week label,
form .field-item-price_month label {
    margin-bottom:0px;
    font-size:13px;line-height:15px;
}


@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top:15px;
    }
}


/* Select2 */

#content form .select2-selection {
    height:auto;min-height:50px;
}

form .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    min-height:50px;
    /*min-width:300px;*/
}

form .select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    padding:8px 6px;
    font-size:14px;line-height:1.5;
}


/* DATE RANGE PICKER */
body .daterangepicker {
    border:2px solid rgba(45, 63, 80, 0.08);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    border-radius:0;
}

body .daterangepicker .drp-calendar.drp-calendar {
    padding-top:30px;padding-bottom:30px;
}
body .daterangepicker .drp-calendar.left {
    padding-left:30px;
}
body .daterangepicker .drp-calendar.right {
    padding-right:30px;
}

body .daterangepicker .calendar-table th {
    text-transform:capitalize;
    color:#999;
    font-size:12px;line-height:25px;
    padding:0 0 7px 0;
}

body .daterangepicker th, body .daterangepicker .calendar-table td {
    font-family: 'Roboto', sans-serif;
}

body .daterangepicker th.month {
    text-transform:uppercase;
    padding-bottom:15px;
    font-size:16px;line-height:19px;
    color:#636F78;
    
}

body .daterangepicker .calendar-table .prev, body .daterangepicker .calendar-table .next {
    padding:0 0 12px 0;
    min-width:0;;width:23px;height:23px;
    line-height:1;
    background:transparent !important;
}

body .daterangepicker .calendar-table .prev span, body .daterangepicker .calendar-table .next span {
    width:100%;height:100%;
    background:url('../img/arrow-daterangepicker-left.png') no-repeat center center;
    border:0;
    transform:none;
}
body .daterangepicker .calendar-table .next span {
    background-image:url('../img/arrow-daterangepicker-right.png');
}

body .daterangepicker .calendar-table td {
    font-weight:600;
    font-size:12px;line-height:25px;
    border-bottom:3px solid #fff !important;
}

body .daterangepicker td.available:hover {
    background-color:#2AD17E;
}
body .daterangepicker td.active, body .daterangepicker td.active:hover {
    background-color:#2AD17E !important;
    color:#fff !important;
}
body .daterangepicker td.start-date {
    border-radius:5px 0 0 5px;
}
body .daterangepicker td.end-date {
    border-radius:0 5px 5px 0;
}

body .daterangepicker td.in-range {
    background-color:rgba(46, 204, 113, 0.33);
    color:#59937c;
}

body .daterangepicker td.disabled, body .daterangepicker option.disabled {
    color:#C0C5C8;
}


/* PAGINATION */
#content .pagination {
    display:block;
    font-size:0;
    text-align:center;
}

#content .pagination > li {
    float:none;
    display:inline-block;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
}
#content .pagination > li:not(.active) a:hover {
    color:#2ECC71 !important;
}

#content .pagination > li a, #content .pagination > li span {
    display:block;
    padding:9.5px 17px;
    border:0;
    background:transparent;
    color:#2D3F50;
}

#content .pagination > li.prev span,
#content .pagination > li.prev a,
#content .pagination > li.next span,
#content .pagination > li.next a {
    color:#636F78;
    border:0;
    background:transparent !important;
    font-family: 'Raleway', sans-serif;
    font-size:16px;
}

#content .pagination > li.prev span i,
#content .pagination > li.prev a i,
#content .pagination > li.next span i,
#content .pagination > li.next a i {
    margin-right:3px;
    font-size:14px;
}
#content .pagination > li.next span i,
#content .pagination > li.next a i {
    margin-right:0;
    margin-left:3px;
}

#content .pagination > .active > a, 
#content .pagination > .active > span, 
#content .pagination > .active > a:hover, 
#content .pagination > .active > span:hover, 
#content .pagination > .active > a:focus, 
#content .pagination > .active > span:focus {
    background-color:rgba(0, 0, 0, 0.07);
    color:#2D3F50;
}


/* ------------- */

p + .grid-view {
    margin-top:15px;
}

#tr1/*, #tr2*/ {
  width: 100%;
  overflow-x: scroll;
  overflow-y:hidden;
}

#tr1 {height: 20px; }

#tr1 .div1 {
  width:100%;
  height: 20px;
}

.grid-view .table {
    border-top-color:#3e4348;
}

.grid-view .table th {
    background-color:#2D3F50;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    border-color:#3e4348;
    text-align:center;
    vertical-align:middle;
}

.grid-view .table th a {
    color:#fff;
    text-decoration:underline;
}

.grid-view .table th:last-child {
    min-width: 100px;
}

.grid-view .ui-sortable .ui-sortable-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.grid-view .table td {
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}
.grid-view .table td a:not(.btn) {
    text-decoration:underline;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    /*white-space: nowrap;*/
}

.grid-view td.action-column {
    white-space: nowrap;
    text-align:right;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/* ------------------
 * http://foundation.zurb.com/docs/components/block_grid.html
 */
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 40.0625em) {
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 64.0625em) {
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    list-style: none;
    width: 50%; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    list-style: none;
    width: 25%; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    list-style: none;
    width: 20%; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    list-style: none;
    width: 10%; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }


/* Checkbox */
/*label.checkbox-inline {
    position:relative;
}

.checkbox-inline > input {
    display:none;
}
.checkbox-inline > input:after {
    content:"";
}

label.checkbox-inline:after {
    content:"";
    position:absolute;
    left:0;top:2px;
    width:10px;height:10px;
    border:1px solid #ddd;
}
label.checkbox-inline:after {
    
}*/